

window-frame
{
	border: solid 1px;
	display: block;
	width:200px;
	position:absolute;
	
	top:0px;
	left:0px;
	resize:both;
	border-color: lightgray;
} 

window-frame.focus
{
	border-color: gray;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.36);
}

window
{
	padding: 26.5px 0px 0px 0px;
    display: block;
    height: calc(100% - 26.5px);
	background-color:white;
}

content-container
{
	display: block;
	overflow: auto;
	height: 100%;
	
}

content
{
	text-align:initial;
	
	color:black;
	padding:0px;
	display:block;
}
