panel-container
{
	position:relative;
	width:100%;
	display:flex;
	height: 35px;
	margin-bottom: 16px;
}

panel-container.bottom
{
	bottom:0px;
	width:100%;
	
}

panel-container.bottom > panel
{
	height:45px;
	width:100%;
	border-top-width:1px;
}


panel-container.left
{
	left:0px;
	height:100%;
	
}

panel-container.left > panel
{	
	width: 74px;
	height: 100%;
	border-right-width:1px;
}

panel-container button {
	transition-duration: 0.2s;
	background-color: inherit;
	
	border-right: 0px solid;
	border-bottom: 0px solid;
	border-top: 0px solid;
	border-left: 0px solid;
	border-color:transparent;
	white-space: nowrap;
}

