panel-container
{
	position:relative;
	
}

panel-container.bottom
{
	bottom:0px;
	width:100%;
	
}

panel-container.bottom > panel
{
	height:45px;
	width:100%;
	border-top-width:1px;
}


panel-container.left
{
	left:0px;
	height:100%;
	
}

panel-container.left > panel
{	
	width: 74px;
	height: 100%;
	border-right-width:1px;
}



